body {
  margin: 0px;
}

button {
  /* display: flex; */
  /* padding: 10px 15px; */
  font-weight: bold;
  background-color: blueviolet;
  color: white;
  /* margin-right: 10px; */
}

.form {
  display: flex;
  padding: 10px;
  gap: 4px;
}
